* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F0F9FF;
  color: #082F49;
  word-wrap: break-word;
}

main {
  width: 50%;
  margin: auto;
  flex-wrap: wrap;
}

div {
  width: 70%;
  margin: auto;
  padding: 15px;
}

section {
  background-color: white;
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
}

h2, h3, h4 {
  margin-bottom: 10px;
}

a[href="#"] {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

/* Sobre Mim */
.sobre-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.sobre-container img {
  width: 200px;
  border-radius: 8px;
}

ul {
  margin-left: 20px;
}

#tecnologias li {
  margin-bottom: 5px;
}

.habilidades-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th {
  background-color: var(--primary-color);
  color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

.contato a {
  text-decoration: none;
  color: #082F49;
  font-weight: bold;
  margin-top: 10px;
}

#contato-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  background-color: transparent;
  height: auto;
}

#contato-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  background-color: transparent;
  height: auto;
}

.contato {
  flex: 1;              
  width: auto;           
  margin-top: 10px;
}              
  
#redes-sociais li {
  background-color: #F472B6;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  main {
    width: 90%;
  }

  div {
    width: 100%;
    padding: 10px;
  }

  table {
    display: block;
    overflow-x: auto;
  }

  header {
    flex-direction: column;
    gap: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .sobre-container {
    flex-direction: column;
    text-align: center;
  }

  .habilidades-grid {
    flex-direction: column;
  }

  .contato {
    width: 100%;
    height: auto;
  }

  #contato-wrapper {
    flex-direction: column;
  }
}
